
# Python cache
__pycache__/
*.pyc
*.pyo

# Données brutes
*.json

# Environnements virtuels
venv/
.env

# Logs / systèmes
*.log

#Fichiers temporairement ignorés
img_wikipedia_api.py
img_wikipedia.csv
img_wikipedia2.py
img_wikipedia2.csv
img_validation.html
img_validation_gemini.py

